

:root {
    --couleurBrun: #351f16;
    --orange:#f58612;
  }







.pagination span a{
    color:  rgb(255, 255, 255);
    font-weight: bold;
    background-color: black;
    padding: 7px;
    text-decoration: none;
 }
 .current{
     background-color: var(--orange);
     color: white;
     font-weight: bold;
     padding: 7px;
 }